wwall.Bussiness/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
wwall.Bussiness/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
wwall.Bussiness/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
wwall.Bussiness/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
wwall.DataAccess/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
wwall.DataAccess/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
wwall.DataAccess/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
wwall.DataAccess/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
wwall.Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
wwall.Model/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
wwall.Model/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
wwall.Model/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
wwall/bin/Antlr3.Runtime.dll
wwall/bin/EntityFramework.dll
wwall/bin/Microsoft.Web.Infrastructure.dll
wwall/bin/Microsoft.Web.Mvc.FixedDisplayModes.dll
wwall/bin/Newtonsoft.Json.dll
wwall/bin/System.Net.Http.dll
wwall/bin/System.Net.Http.Formatting.dll
wwall/bin/System.Net.Http.WebRequest.dll
wwall/bin/System.Web.Http.dll
wwall/bin/System.Web.Http.WebHost.dll
wwall/bin/System.Web.Mvc.dll
wwall/bin/System.Web.Optimization.dll
wwall/bin/System.Web.Providers.dll
wwall/bin/System.Web.Razor.dll
wwall/bin/System.Web.WebPages.Deployment.dll
wwall/bin/System.Web.WebPages.dll
wwall/bin/System.Web.WebPages.Razor.dll
wwall/bin/WebGrease.dll
wwall/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
wwall.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
wwallMain/obj/Debug/DesignTimeResolveAssemblyReferences.cache
wwallMain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
wwallMain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
wwallMain/bin/Microsoft.Web.Infrastructure.dll
wwallMain/bin/Microsoft.Web.Mvc.FixedDisplayModes.dll
wwallMain/bin/Newtonsoft.Json.dll
wwallMain/bin/System.Net.Http.dll
wwallMain/bin/System.Net.Http.Formatting.dll
wwallMain/bin/System.Net.Http.WebRequest.dll
wwallMain/bin/System.Web.Helpers.dll
wwallMain/bin/System.Web.Http.dll
wwallMain/bin/System.Web.Http.WebHost.dll
wwallMain/bin/System.Web.Mvc.dll
wwallMain/bin/System.Web.Razor.dll
wwallMain/bin/System.Web.WebPages.Deployment.dll
wwallMain/bin/System.Web.WebPages.dll
wwallMain/bin/System.Web.WebPages.Razor.dll
wwallMain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
wwallMain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
